body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  color: #323232;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 0%;
}

.hobbies {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.hobbies li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  background-color: #d4948084;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th,
.table td {
  background-color: hsla(14, 38%, 89%, 0.518);
  padding: 12px;
  border: 1px solid #222222;
  text-align: left;
}

.contact-info {
  text-align: center;

  margin-top: 20px;
}

.contact-info a {
  color: #d4948084;
  text-decoration: underline;
}

.intro {
  font-size: 1.2em;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cda {
  width: 100%;
  margin: 20px 0;
}

.cda td {
  background-color: hsla(14, 38%, 89%, 0.518);
  padding: 12px;
  border: 0.5px solid #222222;
  text-align: center;
}

.footer {
  padding-top: 20px;
  text-align: left;
  font-size: 1em;
}
